/* Registration CSS */

* {
    box-sizing: border-box;
}

:root {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(0, 0, 0);
}

form {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f7dcc6;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pull-right {
    float: right;
}

#registrationForm {
    display: grid;
    grid-gap: 10px;
    max-width: 100%;
}


#registrationForm>* {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.form-label {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.form-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

#errorMessage {
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}