
* {
    box-sizing: border-box;
}

:root {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {

    color: black;
    text-align: center;

}

.card-container {
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #postList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid  #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

body {
    background: linear-gradient(to right, #d03c1b, #4081fb, #d03c1b);
}